

.pagination {
    display: flex;
    justify-content: space-evenly;
}

.pagination li a {
    color: gray;
    cursor: pointer;
    padding: 0 1rem;
}

.pagination li.selected a {
    background-color: #ff5722;
    color: white;
    border-radius: 1rem;
}

.pagination li.disabled a {
    color: lightgray;
    cursor: default;
}